{
	-fx-primary: #2A2E37;
	-fx-secondary: #FFFF8D;
	-fx-primarytext: #B2B2B2;
	-fx-red: #FF3300;
	-fx-color-1:#1976D2;
	-fx-color-button-dialog: #454545;
}

.root{
	-fx-background-color: -fx-primary;
}

.glyph-icon
{
	-fx-fill: -fx-primarytext;
	-fx-size: 40;
}

.button{
	-fx-text-fill: -fx-primarytext;
	-fx-font-size: 30px;
	-fx-padding: 20px;
}

.login-button{
	-fx-border-color: -fx-secondary;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

.login-button:hover{
	-fx-border-color: -fx-secondary;
	-fx-background-color: -fx-secondary;
	-fx-text-fill: -fx-primary;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

.jfxtext-field{
	-fx-font-size: 20px;
	-fx-text-fill: -fx-primarytext;
	-jfx-focus-color: -fx-secondary;
}

.logo{
	-fx-background-color: -fx-primarytext;
	-fx-background-radius: 40px;
	-fx-padding: 5px;
}

.wrong-data-login{
	-jfx-unfocus-color: -fx-red;
	-jfx-focus-color: -fx-red;
}

.jfx-hamburger-icon{
	-fx-spacing: 7;
}

.jfx-hamburger-icon StackPane{
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 5px;
}

.toolbar-button{
	-fx-background-color: derive(-fx-primary, 20%);
}
.toolbar-button:hover
{
	-fx-background-color: -fx-secondary;
	-fx-text-fill: -fx-primary;
}

.dialog-button{
    -fx-border-color: -fx-color-1;
	-fx-background-color: -fx-color-button-dialog;
	-fx-font-size:20px;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.dialog-button:hover{
    -fx-background-color: -fx-color-1;
    -fx-border-color: derive(-fx-color-1, -20%);
    -fx-text-fill: white;
}

.time_picker{
	-fx-font-size: 20px;
	-fx-text-fill: -fx-primarytext;
}

.jfx-date-picker .text-field{
	-fx-font-size: 20px;
	-fx-text-fill: -fx-primarytext;
}

.jfx-time-picker .text-field{
	-fx-font-size: 20px;
	-fx-text-fill: -fx-primarytext;
}

.label_date{
	-fx-font-size: 30px;
	-fx-text-fill: -fx-primarytext;
}

.context-menu
{
    -fx-background-color:  derive(-fx-primary, 20%);
}