{
	-fx-primary: #2A2E37;
	-fx-primary-darker: #3B3F58;
	-fx-secondary: #FFFF8D;
	-fx-primarytext: #B2B2B2;
	-fx-red: #FF3300;
	-fx-color-1:#1976D2;
	-fx-color-button-dialog: #454545;
	-fx-color-header: #4c558f;
}

.root{
	-fx-background-color: -fx-primary;
}

.table-view{
   -fx-background-color: blue;
}

.table-view .column-header-background .label{
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: -fx-primary-darker;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 1;
}*